**/*.map
**/*.min.css
**/*.min.js
assets/css/main.scss
assets/js/distillpub/template.v2.js
assets/plotly/demo.html
lighthouse_results/**
_news/**
_pages/**
_projects/**
README.md
_config.yml
_layouts/**
